PySide6
qasync
qtawesome
Pygments
unidiff
aiohttp
GitPython
openai
anthropic
google-generativeai
googleapis-common-protos
proto-plus
protobuf
grpcio
Pillow

# RAG & Vector DB
chromadb
sentence-transformers
langchain-community

# Web Server for local APIs
fastapi
uvicorn[standard]
python-dotenv
aiohttp


python-lsp-server[all]
pytest
